<div><font face="Times New Roman" size=7><br><br>
<center>
Linear Regression and Regularization
<center><br></div>
 

### Machine Learning for Bioinformatics: Homework 1 (Practical)
*Refer to (preferably)Quera or Amir Soleimanifar for any questions you have or other inconveniences*  
*Telegram ID: @amirsoleix*  
*Email: asoleix@gmail.com*

## Overview
<font face="Arial" size=4><br>
We want to train a model which estimates obesity levels based on eating habits and physical conditions of an individual. For our purpose, we will use a dataset of individuals from the countries of Mexico, Peru and Columbia.  
The dataset was collected by Fabio Mendoza Palechor and ALexis de la Hoz Manotas.

## Description 
<font face="Arial" size=4><br>
This dataset include data for the estimation of obesity levels in individuals from the countries of Mexico, Peru and Colombia, based on their eating habits and physical condition. The data contains 17 attributes and 2111 records, the records are labeled with the class variable NObesity (Obesity Level), that allows classification of the data using the values of Insufficient Weight, Normal Weight, Overweight Level I, Overweight Level II, Obesity Type I, Obesity Type II and Obesity Type III. 77% of the data was generated synthetically using the Weka tool and the SMOTE filter, 23% of the data was collected directly from users through a web platform.

## Practical Phase 
<font face="Arial" size=4><br>
You need to complete each section by writing the relevant code, running and assessing the results. Feel free to add new code or markdown cells. After all snippets have been completed, save the results and upload the Jupyter notebook.

In [1]:
# Import all libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [113]:
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', None)

In [114]:
# Read the dataset
df = pd.read_csv('./dataset_bmi.csv')
print(df.shape)
df.head()

(2111, 17)

   Gender   Age  Height  Weight family_history_with_overweight FAVC  FCVC  NCP       CAEC SMOKE  CH2O  SCC  FAF  TUE        CALC                 MTRANS   BMI
0  Female  21.0    1.62    64.0                            yes   no   2.0  3.0  Sometimes    no   2.0   no  0.0  1.0          no  Public_Transportation  18.9
1  Female  21.0    1.52    56.0                            yes   no   3.0  3.0  Sometimes   yes   3.0  yes  3.0  0.0   Sometimes  Public_Transportation  22.7
2    Male  23.0    1.80    77.0                            yes   no   2.0  3.0  Sometimes    no   2.0   no  2.0  1.0  Frequently  Public_Transportation  21.6
3    Male  27.0    1.80    87.0                             no   no   3.0  3.0  Sometimes    no   2.0   no  2.0  0.0  Frequently                Walking  28.0
4    Male  22.0    1.78    89.8                             no   no   2.0  1.0  Sometimes    no   2.0   no  0.0  0.0   Sometimes  Public_Transportation  26.6

## Split the Data  
<font face="Arial" size=4><br>
Split the data to training (80 percent) and test (20 percent) sets using Stratified Sampling on `BMI` column.

In [127]:
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split

# Categorize BMI, so we can strattify based on BMI group, which is a discrete value
df['BMI_CAT'] = pd.cut(df['BMI'], bins=[0.0, 16.0, 16.9, 18.4, 24.9, 29.9, 34.9, 39.9, 100.0], labels=['Underweight_3', 'Underweight_2', 'Underweight_1', 'Normal', 'Overweight', 'Obese_1', 'Obese_2', 'Obese_3'], include_lowest=True)

# Create test and train datasets. Strattify based on BMI category. Note that the train and test data contain the whole table, so we don't need the last two outputs of function.
train_data, test_data, bin0, bin1 = train_test_split(df, df['BMI_CAT'], test_size=0.2, train_size=0.8, shuffle=True, random_state=93, stratify=df['BMI_CAT'])

print(len(train_data), len(test_data))
print(train_data.head().iloc[:, -1])
print()
print(test_data.head().iloc[:, -1])

1688 423
480         Normal
472     Overweight
267        Obese_1
1910       Obese_3
1797       Obese_2
Name: BMI_CAT, dtype: category
Categories (8, object): ['Underweight_3' < 'Underweight_2' < 'Underweight_1' < 'Normal' < 'Overweight' < 'Obese_1' < 'Obese_2' < 'Obese_3']

481            Normal
1551          Obese_2
1553          Obese_1
855        Overweight
621     Underweight_3
Name: BMI_CAT, dtype: category
Categories (8, object): ['Underweight_3' < 'Underweight_2' < 'Underweight_1' < 'Normal' < 'Overweight' < 'Obese_1' < 'Obese_2' < 'Obese_3']

## Exploratory Data Analysis  
<font face="Arial" size=4><br>
Analyze the data and find information about different attributes. Requested items are:
1. Number of categories and distribution of them in either plots or numbers
2. Mean, std, and quartiles of numerical attributes
3. Check for existence of NaN or empty rows  

Visualize the dataset in convenient way and measure the correlation between different columns of the matrix using `corr()` command.

In [128]:

# part 2
# train data
train_data.describe()

               Age       Height       Weight         FCVC          NCP         CH2O          FAF          TUE          BMI
count  1688.000000  1688.000000  1688.000000  1688.000000  1688.000000  1688.000000  1688.000000  1688.000000  1688.000000
mean     24.290125     1.701006    86.441723     2.413688     2.692156     2.009430     1.008422     0.655279    29.912855
std       6.314618     0.093061    26.123567     0.538026     0.784438     0.616468     0.844961     0.602070     8.455257
min      14.000000     1.450000    39.000000     1.000000     1.000000     1.000000     0.000000     0.000000    12.800000
25%      19.870974     1.629388    65.483043     2.000000     2.658289     1.585688     0.129009     0.000000    24.600000
50%      22.821925     1.700000    83.000000     2.367128     3.000000     2.000000     1.000000     0.625215    29.300000
75%      26.000000     1.768285   106.569241     3.000000     3.000000     2.488593     1.677185     1.000000    36.625000
max      56.000000     1.975663   173.000000     3.000000     4.000000     3.000000     3.000000     2.000000    48.500000

In [129]:
# part 2
# test data
test_data.describe()

              Age      Height      Weight        FCVC         NCP        CH2O         FAF         TUE         BMI
count  423.000000  423.000000  423.000000  423.000000  423.000000  423.000000  423.000000  423.000000  423.000000
mean    24.402289    1.704357   87.162034    2.440414    2.659580    2.002350    1.017783    0.668188   29.859338
std      6.476371    0.094333   26.482554    0.517313    0.752302    0.599408    0.873684    0.636188    8.490859
min     15.000000    1.483284   40.202773    1.000000    1.000000    1.000000    0.000000    0.000000   13.200000
25%     20.000000    1.633841   65.711971    2.000000    2.676552    1.584812    0.113911    0.000000   24.400000
50%     22.675679    1.705813   82.636162    2.407817    3.000000    2.000000    1.000000    0.630866   29.400000
75%     26.000000    1.769417  109.749962    3.000000    3.000000    2.443450    1.625346    1.000000   36.250000
max     61.000000    1.980000  160.935351    3.000000    4.000000    3.000000    3.000000    2.000000   47.500000

In [ ]:
# part 3 : check for existense of NaN or empty rows

## Data Cleaning and Manipulation  
<font face="Arial" size=4><br>
Transform all categorical attributes to numerical attributes using ordinal encoders if the attribute is ordinal or one-hot encoders if the attribute is nominal.   

Add at least two attributes to the dataset using information of other columns. Explain the reasons you think the added columns are better indicators of the data.  
Scale the data and build a pipeline to be used later for test set.

### Principal Component Analysis  
<font face="Arial" size=4><br>
Use `sklearn.decomposition.PCA` to reduce the dimension of dataset to a convenient number. Plot the scree plot for the final solution.

## Model Training  
<font face="Arial" size=4><br>
Train the <code>linear regression</code> model and its regularized forms (<code>ridge</code> and <code>lasso</code>) on your training data. Cross-validate the models using <code>10 fold CV</code> and report the accuracy scores. You are allowed to use <code>sklearn.linear_model</code> for your implementation.

### Linear Regression

### Ridge Regression

### Lasso Regression

## Final Report  
<font face="Arial" size=4><br>
After training the data, use your pipeline previously created to transform the test data to decent form and then run your final model and report the accuracy score.

<font face="Arial" size=4><br>
Discuss why you think this model worked best for the selected datasets and mention 3 areas where extra effort can be put into work to enhance the accuracy.